<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/reg.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<header>
    <div class="main-menu">
        <div class="menu-hamburger">
            <input id="menu__toggle" type="checkbox"/>
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="../index.html">Catalog</a></li>
                <li><a class="menu__item" href="сreate.html">Create</a></li>
                <li><a class="menu__item" href="log.html">Log In</a></li>
            </ul>
        </div>
        <div class="logo">
            <img class="logo__image" src="../image/wine-splash.jpg" alt="logo">
            <h1 class="logo__text">Cocktail database</h1>
        </div>
    </div>
    <div>
        <form class="search__form">
            <input class="search__input" type="text" placeholder="Search">
            <button class="search__button" type="button">&#128269</button>
        </form>
    </div>
</header>
<main>
    <section class="authentication-container">
        <div class="landscape-container">
            <img class="landscape__image" src="../image/2644029898.jpg" alt="Фото пикника">
        </div>
        <div class="identification-container">
            <div class="identification__text_header">
                <h2>
                    <span>LogIn</span>
                    |
                    <a href="reg.html">Join</a>
                </h2>
            </div>
            <form class="identification__form">
                <input type="text" placeholder="Type your email">
                <input type="password" placeholder="Type your password">
                <button type="button">Login</button>
            </form>
            <div class="other_enter__container">
                <button type="button" class="other_enter__item button_google" href="#">Continue with Google</button>
                <button type="button" class="other_enter__item button_facebook" href="#">Continue with Facebook</button>
            </div>
            <div class="identification__text_footer">
                <span>Don't have a profile?</span>
                <a href="reg.html">Join</a>
            </div>
        </div>
    </section>
</main>
<footer>
    <p class="copyright">@ Copyright K.A.</p>
    <div class="contacts">
        <h3 class="contacts__text">Contact us</h3>
        <div>
            <a class="contacts__link vk_block" href="https://vk.com/id191274652"></a>
            <a class="contacts__link facebook_block" href="https://vk.com/id191274652"></a>
            <a class="contacts__link instagram_block" href="https://vk.com/id191274652"></a>
        </div>
    </div>
</footer>
</body>
</html>