<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/reg.css"/>
    <meta charset="UTF-8">
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="../scripts/auth.js"></script>
    <script src="../scripts/main.js"></script>
    <title>Registration</title>
</head>
<body>
<header>
    <div class="logo">
        <img class="logo__image" src="../image/wine-splash.jpg" alt="logo">
        <h1 class="logo__text">Cocktail database</h1>
    </div>
    <form class="search__form" onsubmit="searchBar(true);return false;">
        <input class="search__input" type="text" placeholder="Search">
        <button class="search__button" type="submit">&#128269</button>
    </form>
    <nav>
        <a class="menu__item" href="../index.html">Catalog</a>
        <a class="menu__item" href="сreate.html">Create</a>
        <a class="menu__item" href="log.html">Log In</a>
    </nav>
</header>
<main>
    <div class="authentication-container">
        <div class="landscape-container">
            <img class="landscape__image" src="../image/2644029898.jpg" alt="Фото пикника">
        </div>
        <div class="identification-container">
            <div class="identification__text_header">
                <h2>
                    <span>Join</span>
                    |
                    <a href="log.html">LogIn</a>
                </h2>
            </div>
            <form class="identification__form" onsubmit="submitSignUp();return false;">
                <input id="login" type="text" placeholder="Type your email" required>
                <input id="password" type="password" placeholder="Type your password" required>
                <input id="repeat-password" type="password" placeholder="Repeat your password" required>
                <button type="submit">Join</button>
            </form>
            <div class="other_enter__container">
                <button type="button" class="other_enter__item button_google" href="#">Continue with Google</button>
                <button type="button" class="other_enter__item button_facebook" href="#">Continue with Facebook</button>
            </div>
            <div class="identification__text_footer">
                <span>Already have a profile?</span>
                <a href="log.html">LogIn</a>
            </div>
        </div>
    </div>
</main>
<footer>
    <p class="copyright">@ Copyright K.A.</p>
    <div>
        <h3 class="contacts__text">Contact us</h3>
        <a class="contacts__link vk_block" href="https://vk.com/id191274652"></a>
        <a class="contacts__link facebook_block" href="https://vk.com/id191274652"></a>
        <a class="contacts__link instagram_block" href="https://vk.com/id191274652"></a>
    </div>
</footer>

</body>
</html>