<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/create.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/ingredients.css"/>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-firestore.js"></script>
    <script src="../models/Ingredient.js"></script>
    <script src="../models/Cocktail.js"></script>
    <script src="../scripts/storage.js"></script>
    <script src="../scripts/create.js"></script>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<header>
    <div class="logo">
        <img class="logo__image" src="../image/wine-splash.jpg" alt="logo">
        <h1 class="logo__text">Cocktail database</h1>
    </div>
    <form class="search__form">
        <input class="search__input" type="text" placeholder="Search">
        <button class="search__button" type="button">&#128269</button>
    </form>
    <nav>
        <a class="menu__item" href="../index.html">Catalog</a>
        <a class="menu__item" href="сreate.html">Create</a>
        <a class="menu__item" href="log.html">Log In</a>
    </nav>
</header>
<main>
    <div class="create-container">
        <div class="cocktail-fill__container">
            <img class="cocktail-fill__image" src="../image/empty-cup.png" alt="glass">
            <div class="cocktail-ingredient"></div>
            <div class="cocktail-ingredient"></div>
        </div>
        <form class="cocktail-create__form" onsubmit="submitCreate();return false;">
            <input id="name_field" class="field_style" type="text" placeholder="Name" required>
            <div class="cocktail-create__select_block">
                <ul class="cocktail-create__list">
                    <li class="cocktail-create__li">
                        <div class="cocktail-create__item">
                            <select class="field_style cocktail-create__ingredient" onchange="buildImg();">
                                <option>Vodka</option>
                                <option>Beer</option>
                                <option>Cola</option>
                                <option>Ice</option>
                                <option>Tonic</option>
                                <option>White-Rom</option>
                                <option>Black-Rom</option>
                                <option>Lemon</option>
                                <option>Juice</option>
                                <option>Champagne</option>
                            </select>
                            <input class="field_style cocktail-create__value" type="number" placeholder="value" oninput="buildImg();" max="1000">
                        </div>
                    </li>
                </ul>
                <button type="button" class="btn_add" onclick="addIngredient()">+</button>
            </div>
            <textarea id="description_field" class="field_style cocktail-create-textarea" placeholder="Description"></textarea>
            <button class="btn_create" type="submit">Create</button>
        </form>
    </div>
</main>
<footer>
    <p class="copyright">@ Copyright K.A.</p>
    <div>
        <h3 class="contacts__text">Contact us</h3>
        <a class="contacts__link vk_block" href="https://vk.com/id191274652"></a>
        <a class="contacts__link facebook_block" href="https://vk.com/id191274652"></a>
        <a class="contacts__link instagram_block" href="https://vk.com/id191274652"></a>
    </div>
</footer>
</body>
</html>