.create-container {
    padding-top: 95px;
    display: flex;
    min-height: 500px;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 100px);
}

.cocktail-fill__container {
    position: relative;
    margin: auto 0;
    width: 30%;
}

.cocktail-fill__image {
    position: relative;
    z-index: 1;
    height: auto;
    width: 100%;
}

.cocktail-create__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


#name_field {
    margin: 10px auto;
    width: 70%;
    background-color: var(--background-field);
}

.cocktail-create__list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 5px;
}

.cocktail-create__li {
    margin-bottom: 5px;
}

.cocktail-create__form textarea {
    margin: 10px auto;
    width: 70%;
    background-color: var(--background-field);
}

.cocktail-create__ingredient {
    width: 30%;
    background-color: var(--background-field);
}

.cocktail-create__value {
    width: 40%;
    background-color: var(--background-field);
}

.field_style {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    color: var(--font-field);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.03);
}

.field_style:focus {
    border: 1px solid #d92938;
}


.btn_create {
    margin: 0 auto;
    background-color: #D43737;
    padding: 5px 10px;
    width: 34%;
    border-radius: 5px;
    color: var(--font-color);
}

.btn_del {
    font-size: 18px;
    position: absolute;
    margin-left: 9px;
    color: var(--font-color);
    padding: 2px 1px 3px 0;
    border-radius: 50%;
    background-color: #D43737;
    width: 30px;
    height: 30px;
}

.btn_add {
    padding: 2px 1px 0 0;
    background-color: #D43737;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: 60%;
    color: var(--font-color);
}

#new_li {
    margin-left: 40%;
}

.cocktail-ingredient {
    position: absolute;
    height: 88%;
    width: 65%;
    left: 5%;
    bottom: 7%;
}

@media screen and (max-device-width: 768px) {

    .create-container {
        flex-direction: column;
        min-height: 900px;
    }

    .cocktail-fill__container,
    .cocktail-create__form {
        margin: 0 auto;
    }

    .cocktail-create__li {
        margin-top: 10px;
    }

    .cocktail-fill__image {
        padding-left: 50px;
        width: 90%;
    }

    .field_style {
        font-size: 2em;
        height: 50px;
    }

    .cocktail-create__form {
        width: 80%;
    }

    .btn_add {
        font-size: 2em;
        width: 60px;
        height: 60px;
    }

    .btn_create {
        padding: 0;
        font-size: 2em;
        height: 40px;
    }

    .cocktail-create-textarea {
        height: 80px;
    }

    .cocktail-fill__container {
        margin: 0 auto 15px auto;
    }

    .cocktail-ingredient {
        position: absolute;
        height: 88%;
        width: 47%;
        left: 26%;
        bottom: 7%;
    }
}

@media screen and (max-device-width: 520px) {

    .field_style {
        font-size: 3em;
        margin: 10px 0;
        height: 70px;
    }

    .cocktail-create__form {
        width: 90%;
    }

    .btn_add {
        font-size: 3em;
        width: 80px;
        height: 80px;
    }

    .btn_create {
        font-size: 3em;
        height: 60px;
    }

    .cocktail-create-textarea {
        height: 120px;
    }

    .cocktail-create__form textarea {
        margin: 20px auto;
    }

    .cocktail-fill__container {
        margin: 0 auto 80px auto;
        width: 40%;
    }

    .cocktail-ingredient {
        position: absolute;
        height: 88%;
        width: 50%;
        left: 22%;
        bottom: 7%;
    }

}


