.sort-selection {
    padding-top: 95px;
    height: 50px;
    margin-bottom: 50px;
}

.sort-selection ul {
    list-style: none;
    padding-left: 0;
    background: var(--background-sorter);
    height: 50px;
}

.sort-selection a {
    text-decoration: none;
    background: var(--background-sorter);
    color: var(--font-color);
    padding: 0 15px;
    font-family: arial, serif;
    line-height: 50px;
    display: block;
    border-right: 1px solid var(--background-sorter);;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.sort-selection a:hover {
    background: var(--background-header-color)
}

.sort-selection li {
    float: left;
    position: relative;
}

.sort-selection li:last-child {
    float: right;
}

.sort-selection li > ul {
    z-index: 2;
    position: absolute;
    top: 50px;
    display: none;
}

.sort-selection li:last-child > ul {
    right: 0;
}

.sort-selection li:hover > ul {
    display: block;
    width: 250px;
}

.sort-selection li:hover > ul > li {
    float: none;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(283px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
}

.grid__container > cocktail-item,
.grid__container > cocktail-item> a{
    text-decoration: none;
    color: black;
    margin: 10px auto;
    /*min-width: 200px;*/
    width: 280px;
    border-radius: 10px;
    height: 300px;
    background-color: var(--background-cocktail);
    text-align: center;
    font-size: 30px;
}


.grid__cocktail-img {
    padding-top: 25px;
    margin: 0 auto;
    height: 80%;
}

.grid__cocktail-container {
    position: relative;
}
.grid__img {
    position: relative;
    z-index: 1;
    margin-left: 40px;
    width: 60%;
    height: auto;
}

.rating-result {
    margin: 10px auto;
    width: 72%;
    height: 12%;
    color: #D43737;
    border-radius: 10px;
    background-color: var(--background-main-color);
    display: flex;
}

.rating-result span {
    padding: 0;
    width: 20%;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
    content: '★';
}

.rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.other_enter__container {
    min-height: calc(100vh - 100px);
}

.grid__text {
    color: var(--font-field);
}
.cocktail-ingredient {
    position: absolute;
    height: 53%;
    width: 40%;
    left: 30%;
    bottom: 34%;
}

@media (max-device-width: 768px) {
    .ensuing_consequences {
        margin-top: 10vh;
    }

    .grid__container {
        grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    }

    .grid__container > a {
        font-size: 35px;
        height: 400px;
        width: 430px;
    }

    .grid__img{
        padding-top: 20px;
        height: 240px;
    }
    .sort-selection {
        font-size: 1.5em;
    }

    .sort-selection ul {
        height: 80px;
    }

    .sort-selection a {
        line-height: 80px;
    }

    .sort-selection li > ul {
        top: 80px;
    }
    .cocktail-ingredient {
        left: 27%;
        bottom: 32%;
    }
}

@media (max-device-width: 520px) {
    .sort-selection {
        font-size: 2em;
    }

    .sort-selection ul {
        height: 100px;
    }

    .sort-selection a {
        line-height: 100px;
    }

    .sort-selection li > ul {
        top: 100px;
    }
    .cocktail-ingredient {
        left: 27%;
        bottom: 32%;
    }
}