.vodka{
    background-color: #2e3281;
}
.water {
    background-color: #2e3281;
}

.beer {
    background-color: #643a16;
}

.cola {
    background-color: #2f1606;
}

.ice {
    background-color: #9192a7;
}

.tonic {
    background-color: #c4bfbf;
}

.white-rom {
    background-color: #d7d8fc;
}

.black-rom  {
    background-color: #3c2301;
}

.lemon {
    background-color: #c6980f;
}

.juice {
    background-color: #ee5182;
}

.champagne {
    background-color: #a49b75;
}

