.cocktail__container {
    padding-top: 95px;
    display: flex;
    height: 30vh;
    min-height: 500px;
    justify-content: center;
    text-align: center;
}

.cocktail__img-container {
    height: 10vh;
    min-height: 250px;
}

.cocktail__name-block {
    position: relative;
    height: 80%;
    margin-top: 40px;
}

.cocktail__img {
    position: relative;
    z-index: 1;
    margin-left: 40px;
    height: 100%;
    min-width: 200px;
    width: 60%;
}

.content__container {

    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.field_style {
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.03);
}

.cocktail__name {
    color: var(--font-field);;
    font-size: 24px;
    padding-bottom: 10px;
}

.rating-area {
    overflow: hidden;
    width: 60%;
    margin: 80px auto;
}

.rating-area:not(:checked) > input {
    display: none;
}


.rating-area:not(:checked) > label {
    float: right;
    width: 20%;
    padding: 0;
    cursor: pointer;
    font-size: 150%;
    line-height: 150%;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
    content: '★';
}

.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
    position: relative;
}

.content__field {
    width: 300px;
    margin: 15px auto;
    border: 1px solid lightgray;
    color: var(--font-field);
    border-radius: 20px;
    font-size: 24px;
    padding: 5px;
}

.content__list {
    min-height: 200px;
    text-align: left;
    padding: 20px;
    list-style: none;
}


.content__item {
    color: var(--font-field);;
    margin: 10px auto;
}

.content__ingredient {
    color: var(--font-field);;
    margin-right: 20px;
}

.comments_block {
    margin: 25px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.comment_form-text_textarea {
    padding: 10px;
    width: 90%;
    height: 100px;
    border-radius: 10px;
    color: var(--font-field);
    background-color: var(--background-field);
    box-shadow: 0 0 15px 4px var(--item_shadow);
}

.comment_form-text_textarea:focus {
    border: 1px solid #d92938;
}

.comment_create-button {
    padding: 10px 5px;
    margin: 10px auto;
    border: 1px solid #B3B3B3;
    border-radius: 5px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.03);
    width: 90%;
    color: white;
    background-color: #D43737;
    font-size: 16px;
}

.comments_list {
    min-width: 474px;
    padding-left: 0;
}

.comments_item {
    padding: 10px;
    text-align: left;
    display: flex;
    border-radius: 10px;
    width: 90%;
    border: 1px solid #B3B3B3;
    box-shadow: 0 0 15px 4px var(--item_shadow);
    color: var(--font-field);
    background-color: var(--background-field);
    margin: 10px auto;
}
.comment_form{
    min-width: 474px;
}

.comment_info {
    min-width: 128px;
    width: 35%;
}

.comment_content {
    width: 65%;
}

.other_enter__container {
    min-height: calc(100vh - 100px);
}


.cocktail-ingredient {
    position: absolute;
    height: 103%;
    min-width: 136px;
    width: 39%;
    left: 28%;
    bottom: -15%;
}
@media screen and (max-device-width: 768px) {
    .cocktail__container {
        display: block;
    }

    .cocktail__img {
        position: absolute;
        height: 100%;
        bottom: 0;
        right: 36%;
        width: auto;
        min-height: 0;
    }

    .cocktail__container {
        min-height: 750px;
    }

    .content__container,
    .content__field {
        margin: 15px auto;
    }

    .content__list {
        margin: 0 auto;
        padding-top: 10px;
    }

    .comments_block {
        font-size: 1.2em;
        width: 60%;
        margin: 80px auto 120px;
    }

    .comment_create-button {
        font-size: 1.2em;
    }

    .comment_form-text_textarea {
        font-size: 1.2em;
    }

    .rating-area {
        width: 40%;
        margin: 0 auto;
    }

    .rating-area:not(:checked) > label {
        font-size: 250%;
    }

    .cocktail__name {
        position: relative;
        font-size: 2em;
        bottom: 35px;
    }

    .cocktail-ingredient {
        height: 73%;
        width: 15%;
        left: 43%;
        bottom: 4%;
    }
}

@media (max-device-width: 520px) {
    .comments_block {
        font-size: 2em;
        width: 75%;

        margin: 80px auto 250px;
    }

    .comment_create-button {
        font-size: 1em;
    }

    .comment_form-text_textarea {
        font-size: 1em;
        height: 150px;
    }

    .content__container,
    .content__field {
        width: 70%;
        font-size: 1.5em;
    }

    .rating-area {
        width: 50%;
        margin: 0 auto;
    }

    .rating-area:not(:checked) > label {
        font-size: 300%;
    }
    .cocktail-ingredient {
        height: 73%;
    }
}

@media (max-width: 768px) {
    .content__field {
        width: 90%;
    }

}
