.sort-selection {
    padding-top: 95px;
    height: 50px;
    margin-bottom: 50px;
}

.sort-selection ul {
    list-style: none;
    padding-left: 0;
    background: #819A32;
    height: 50px;
}

.sort-selection a {
    text-decoration: none;
    background: #819A32;
    color: #fff;
    padding: 0 15px;
    font-family: arial, serif;
    line-height: 50px;
    display: block;
    border-right: 1px solid #677B27;
    -moz-transition: all 0.3s 0.01s ease;
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.sort-selection a:hover {
    background: #D43737;
}

.sort-selection li {
    float: right;
    position: relative;
}

.sort-selection li:last-child {
    float: right;
}

/*Стили для скрытого выпадающего меню*/
.sort-selection li > ul {
    position: absolute;
    top: 50px;
    display: none;
}

/*Делаем скрытую часть видимой*/
.sort-selection li:hover > ul {
    display: block;
    width: 250px;
}

.sort-selection li:hover > ul > li {
    float: none;
}

.ensuing_consequences img {
    width: 100%;
    height: 100%;
}

.ensuing_consequences figcaption {
    width: 300px;
    font-size: 24px;
    height: 30px;
    color: white;
    border-radius: 10px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 30px;
}

.ensuing_consequences {
    height: 400px;
    position: relative;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
}

.grid_container > a {
    text-decoration: none;
    color: black;
    margin: 10px;
    min-width: 200px;
    border-radius: 10px;
    height: 300px;
    background-color: #cac6c6;
    text-align: center;
    font-size: 30px;
}

.grid_img {
    padding-top: 25px;
    margin: 0 auto;
    height: 80%;
}

.grid_img img {
    margin-left: 40px;
    width: 60%;
    height: auto;
}

.rating-result {
    margin: 10px auto;
    width: 62%;
    height: 12%;
    color: #D43737;
    border-radius: 10px;
    background-color: #fafafa;
    display: flex;
}

.rating-result span {
    padding: 0;
    width: 20%;
    margin: 0 3px;
    line-height: 1;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}

.rating-result > span:before {
    content: '★';
}

.rating-result > span.active {
    color: gold;
    text-shadow: 1px 1px #c60;
}

.container {
    min-height: calc(100vh - 100px);
}

@media (max-device-width: 700px) {
    .ensuing_consequences {
        margin-top: 10vh;
    }
}