<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/index.css"/>
    <meta charset="UTF-8">
    <title>Cocktail database</title>
</head>
<body>
    <header>
        <div class="left_header">
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox"/>
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li><a class="menu__item" href="index.html">Catalog</a></li>
                    <li><a class="menu__item" href="сreate.html">Create</a></li>
                    <li><a class="menu__item" href="log.html">Log In</a></li>
                </ul>
            </div>
            <div class="logo">
                <img src="../image/wine-splash.jpg" alt="logo">
                <h1>Cocktail database</h1>
            </div>
        </div>
        <div>
            <form class="Search_form">
                <input type="text" placeholder="Search">
                <button type="button">&#128269</button>
            </form>
        </div>
    </header>
    <main>
        <section>
            <a>
                <div class="catalog-item">
                    <figure>
                        <img>
                        <figcaption> name </figcaption>
                    </figure>
                    <div class="item-star">
                    </div>
                </div>
            </a>
        </section>

        <figure>
            <img>
            <figcaption>Алкоголь вредит вашему здоровью!</figcaption>
        </figure>
        <div class="sort-selection">
            <ul>
                <li class="sort_list">
                    <a href="#" >SORT</a>
                    <ul>
                        <li><a href="#" >NAME</a></li>
                        <li><a href="#" >RATING</a></li>
                        <li><a href="#" >DATE</a></li>
                    </ul>
                </li>
                <li>
                    <a class="sort-select" href="#" >FILTER</a>
                    <ul class="sort-list hidden">
                        <li><a href="#" >TOP</a></li>
                        <li><a href="#" >ALL</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </main>
    <footer>
        <p class="copyright">@ Copyright K.A.</p>
        <div class="contacts">
            <h3>Contact us</h3>
            <div >
                <a class="vk_block" href="https://vk.com/id191274652" ></a>
                <a class="facebook_block" href="https://vk.com/id191274652" ></a>
                <a class="instagram_block" href="https://vk.com/id191274652" ></a>
            </div>
        </div>
    </footer>
</body>
</html>