<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/create.css"/>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<header>
    <div class="left_header">
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox"/>
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="index.html">Catalog</a></li>
                <li><a class="menu__item" href="сreate.html">Create</a></li>
                <li><a class="menu__item" href="log.html">Log In</a></li>
            </ul>
        </div>
        <div class="logo">
            <img src="../image/wine-splash.jpg" alt="logo">
            <h1>Cocktail database</h1>
        </div>
    </div>
    <div>
        <form class="search_form">
            <input type="text" placeholder="Search">
            <button type="button">&#128269</button>
        </form>
    </div>
</header>
<main>
    <div class="baseContainer">
        <div class="imgContainer">
            <img src="../image/empty-cup.png" alt="glass">
        </div>
        <form class="inputContainer">
            <input id="name_field" class="field_style" type="text" placeholder="Name" required>
            <div class="select_block">
                <ul>
                    <li>
                        <div class="item_parameter">
                            <select class="field_style" >
                                <option>Vodka</option>
                                <option>Beer</option>
                                <option>Cola</option>
                                <option>Ice</option>
                                <option>Tonic</option>
                                <option>White Rom</option>
                                <option>Black Rom</option>
                                <option>Lemon</option>
                                <option>Juice</option>
                                <option>Champagne</option>
                            </select>
                            <input  class="field_style" type="number" placeholder="value">
                        </div>
                    </li>
                </ul>
            </div>
            <textarea class="field_style" placeholder="Description"></textarea>
            <div class="btns">
                <button class="btn btn_create" type="button">Create</button>
                <button class="btn btn_add">Add ingredient</button>
            </div>
        </form>
    </div>
</main>
<footer>
    <p class="copyright">@ Copyright K.A.</p>
    <div class="contacts">
        <h3>Contact us</h3>
        <div>
            <a class="vk_block" href="https://vk.com/id191274652"></a>
            <a class="facebook_block" href="https://vk.com/id191274652"></a>
            <a class="instagram_block" href="https://vk.com/id191274652"></a>
        </div>
    </div>
</footer>
</body>
</html>