<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../styles/main.css"/>
    <link rel="stylesheet" type="text/css" href="../styles/create.css"/>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<header>
    <div class="main-menu">
        <div class="menu-hamburger">
            <input id="menu__toggle" type="checkbox"/>
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            <ul class="menu__box">
                <li><a class="menu__item" href="index.html">Catalog</a></li>
                <li><a class="menu__item" href="сreate.html">Create</a></li>
                <li><a class="menu__item" href="log.html">Log In</a></li>
            </ul>
        </div>
        <div class="logo">
            <img class="logo__image" src="../image/wine-splash.jpg" alt="logo">
            <h1 class="logo__text">Cocktail database</h1>
        </div>
    </div>
    <div>
        <form class="search__form">
            <input class="search__input" type="text" placeholder="Search">
            <button class="search__button" type="button">&#128269</button>
        </form>
    </div>
</header>
<main>
    <div class="create-container">
        <div class="cocktail-fill__container">
            <img class="cocktail-fill__image" src="../image/empty-cup.png" alt="glass">
        </div>
        <form class="cocktail-create__form">
            <input id="name_field" class="field_style" type="text" placeholder="Name" required>
            <div class="cocktail-create__select_block">
                <ul class="cocktail-create__list">
                    <li>
                        <div class="cocktail-create__item">
                            <select class="field_style cocktail-create__ingredient">
                                <option>Vodka</option>
                                <option>Beer</option>
                                <option>Cola</option>
                                <option>Ice</option>
                                <option>Tonic</option>
                                <option>White Rom</option>
                                <option>Black Rom</option>
                                <option>Lemon</option>
                                <option>Juice</option>
                                <option>Champagne</option>
                            </select>
                            <input class="field_style cocktail-create__value" type="number" placeholder="value">
                        </div>
                    </li>
                </ul>
            </div>
            <textarea class="field_style" placeholder="Description"></textarea>
            <div class="cocktail-create__btns">
                <button class="cocktail-create__btn btn_create" type="button">Create</button>
                <button class="cocktail-create__btn btn_add">Add ingredient</button>
            </div>
        </form>
    </div>
</main>
<footer>
    <p class="copyright">@ Copyright K.A.</p>
    <div class="contacts">
        <h3 class="contacts__text">Contact us</h3>
        <div>
            <a class="contacts__link vk_block" href="https://vk.com/id191274652"></a>
            <a class="contacts__link facebook_block" href="https://vk.com/id191274652"></a>
            <a class="contacts__link instagram_block" href="https://vk.com/id191274652"></a>
        </div>
    </div>
</footer>
</body>
</html>